
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;  /* 确保所有元素都使用 Inter */
}



body {
    background-color: #f7f7f7;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin: 0;  /* 移除默认 margin */
}

.section {
    padding: 80px 0;
}

.container {
    margin: 0 160px;  
    display: flex;
    justify-content: flex-start; 
}

.nav-container {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
}

.nav-button {
    background-color: transparent;
    width: fit-content; 
    height: fit-content;
    font-size: 16px;
    font-weight: 500; 
}

.nav-button:hover {
    text-decoration: underline;
}

.nav-font {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
}


.hero {
    display: flex;
    flex-direction: column;  
    gap: 20px;  
}

.hero-title {
    font-size: 36px;
    font-weight: 550;  /* semi-bold */
    letter-spacing: -0.04em;
    margin: 0;  /* 移除默认 margin */
    letter-spacing: -0.04em;
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin: 0;  /* 移除默认 margin */
    letter-spacing: -0.04em;
}

.hero-text {
    font-size: 16px;
    font-weight: 300;
    margin: 0;  /* 移除默认 margin */
    line-height: 1.5;
    letter-spacing: -0.04em;
}

.project-container {

    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;  /* 撑开占满父容器宽度 */
}

.project-card-featured {
    display: flex;
    flex: 7;  
    height: 400px;
    border: 1px solid #E5E7EB;
}

.project-card-featured-secondary {
    display: flex;
    flex: 5;
    height: 400px;
    border: 1px solid #E5E7EB;
}

.project-card-normal {
    display: flex;
    height: 400px;
    flex: 1;
    border: 1px solid #E5E7EB;
}

.project-card-gap {
    height: 16px;
}

.project-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;  /* 移除默认 margin */
    letter-spacing: -0.04em;
}

