.header {
    padding: 20px;
    background-color: #DDDDDD;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin: 0;
}

.header nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header nav a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}